doctype html
html
   head
      title = "Hello Pug"
   body
      //-p.greetings#people Hello World!
      nav
        //- navbar-default  div
        //- h1 My Website!
        ul
           li
              a(href='/views/home') Home
           li
              a(href='/views/services') Services
           li
              a(href='/views/contact') Contact Us
      //-input